@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap);

.btn {
    display: inline-block;
    border-width: 1px;
    padding: .5rem 1.25rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .025em;
    -webkit-transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.btn.btn-lg {
    padding: .625rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem
}

.btn.btn-sm {
    padding: 5px 1rem;
    font-size: .875rem;
    line-height: 1.25rem
}

.btn.btn-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.25rem;
    width: 2.25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem
}

.btn.btn-icon.btn-lg {
    height: 3rem;
    width: 3rem
}

.btn.btn-icon.btn-sm {
    height: 2rem;
    width: 2rem
}

.btn.btn-link {
    position: relative;
    border-style: none;
    padding: 0
}

.btn.btn-link::after {
    position: absolute;
    inset-inline-end: 0px;
    bottom: 0;
    inset-inline-start: 0px;
    height: 1px;
    width: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    --tw-content: "";
    content: var(--tw-content)
}

.btn.btn-link:hover::after {
    inset-inline-end: auto;
    content: var(--tw-content);
    width: 100%
}

.form-input {
    /* height: 2.5rem; */
    width: 100%;
    border-radius: .25rem;
    border-width: 1px;
    border-color: inherit;
    background-color: transparent;
    padding: .5rem .75rem;
    outline: transparent solid 2px;
    outline-offset: 2px;
}

.mySwiper::part(button-prev){
    color: #c2410c !important;
}
.mySwiper::part(button-next){
    color: #c2410c !important;
}
